h1 {
	font-family: "raleway", sans-serif;
	font-weight: 400;
	text-align: center;
	margin: 0;
}

p {
	font-family: "Droid Serif", Serif;
	text-align: center;
}
 
 a {
 	text-align: center;
 	text-decoration: none;
 	font-size: 22px;
 	font-family: "raleway", sans-serif;
 	margin: 0 20px 0 20px;
 	border-bottom: 2px solid transparent;
 }

 nav {
 	text-align: center;
 	background-color: #00A6B3;
 	padding: 20px 0 20px 0;
 }

 h2 {
 	text-align: center;
 	font-family: "raleway", sans-serif;
 	font-weight: 300;
 }

 div {
 	text-align: center;
 }

 header {
 	background-color: #F15B31;
 	padding: 30px 20px 30px 20px;
 }

 body {
 	margin: 0;
 }

main {
	width: 850px;
	margin: 35px auto 35px auto;
}

img {
	margin: 40px 8px 0 8px;
}

footer {
	font-style: uppercase;
	padding: 0 20px 0 20px;
	background-color: #0D2C40;
	color: white;
	font-size: 14px;
	letter-spacing: .08em;
	font-weight: 500;
}

.copyright {
	font-family: "raleway";
	float: left;
}

.message {
	font-family: "raleway";
	float: right;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
  height: 0;
  font-size: 0;
}

.name {
	color: #F15B31;
	font-weight: 700;
}

a:hover {
	/* Your styles here */
}